extends ./layout.pug
block contenido
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand.text-capitalize(href='#')= `Coordinador de turnos`
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample04', aria-controls='navbarsExample04', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExample04.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        //li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        //li.nav-item
          a.nav-link(href='#') Link
        //li.nav-item
          a.nav-link.disabled(href='#') Disabled
        //li.nav-item.dropdown
          a#dropdown04.nav-link.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
          .dropdown-menu(aria-labelledby='dropdown04')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
      a.btn.btn-info.mr-3(href=baseUrl('pickArea')) Seleccion de area
      a.btn.btn-success(href=baseUrl('panel')) Panel de turnos
  #app.container.pt-3
    //h1(id='title').display-5.text-center Control de Turnos
    .row
      .col-6
        ul.list-grup
          li.list-group-item.d-flex.justify-content-between.list-group-item-info 
            | Lista de Atencion
            span {{date}}
          li.list-group-item.d-flex.justify-content-between(v-for='(item, index) in clients')
            | {{ `${item.apellidos} ${item.nombres}` }}
            a.float-right(href='#' @click='addClient(item)') Agregar
      .col-6
        table.table.table-bordered.table-sm.table-striped
          thead
            th N°
            th Cliente
            th Opciones
          tbody
            tr(v-for='(item, index) in attention')
              td {{ index+1 }}
              td {{ `${item.apellidos} ${item.nombres}` }}
              td
                button.btn.btn-info.btn-sm(@click='prioritize(index)') Priorisar
  script.
    var app = new Vue({
      el: '#app',
      data: {
        clients: !{JSON.stringify(clients)},
        attention: !{JSON.stringify(attention)},
        date: '!{date}',
      },
      methods: {
        addClient: function(client) {
          fetch('!{baseUrl("addClient")}', {
            headers: {"Content-Type": "application/json"},
            method: 'POST',
            body: JSON.stringify({client: client}),
          })
          .then(res => res.json())
          .then(data => {
            if(data.err) throw Error(data.err);
            var attention = data.body;
            this.attention = attention;
          })
          .catch(err => alert(err.message))
        },
        prioritize: function(index) {
          fetch('!{baseUrl("prioritize/")}' + index)
          .then(res => res.json())
          .then(data => {
            if(data.err) throw Error(data.err);
            var attention = data.body;
            this.attention = attention;
          })
        }
      }
    });
