extends ./layout.pug
block contenido
  #app.container
    h1(id='title').display-5.text-center Control de Turnos
    .form-row
      .col-6
        table.table.table-striped.table-sm
          thead
            th Cliente
            th Opciones
          tbody
            tr(v-for='(item, index) in clients')
              td {{ `${item.apellidos} ${item.nombres}` }}
              td 
                button.btn.btn-info.btn-sm.float-right(@click='addClient(item)') Agregar
      .col-6
        table.table.table-striped.table-sm
          thead
            th N°
            th Lista de atencion
            th Opciones
          tbody
            tr(v-for='(item, index) in attention')
              td {{ index+1 }}
              td {{ `${item.apellidos} ${item.nombres}` }}
              td
                button.btn.btn-info.btn-sm(@click='prioritize(index)') Priorisar
  script.
    var app = new Vue({
      el: '#app',
      data: {
        clients: !{JSON.stringify(clients)},
        attention: [],
      },
      methods: {
        addClient: function(client) {
          fetch('!{baseUrl("setTurn")}', {
            method: 'post',
            body: JSON.stringify({client: client}),
          })
          .then(res => res.json())
          .then(data => {
            console.log(data);
          });
        },
        prioritize: function(index) {
          
        }
      }
    });
