extends ./layout.pug
block contenido
  #app.container
    h1(id='title').display-5.text-center Control de Turnos
    .row
      .col-6
        ul.list-grup
          li.list-group-item.d-flex.justify-content-between(v-for='(item, index) in clients')
            | {{ `${item.apellidos} ${item.nombres}` }}
            a.float-right(href='#' @click='addClient(item)') Agregar
      .col-6
        table.table.table-bordered.table-sm.table-striped
          thead
            th N°
            th Cliente
          tbody
            tr(v-for='(item, index) in attention')
              td {{ index+1 }}
              td {{ `${item.apellidos} ${item.nombres}` }}
              td
                button.btn.btn-info.btn-sm(@click='prioritize(index)') Priorisar
  script.
    var app = new Vue({
      el: '#app',
      data: {
        clients: !{JSON.stringify(clients)},
        attention: !{JSON.stringify(attention)},
      },
      methods: {
        addClient: function(client) {
          fetch('!{baseUrl("addClient")}', {
            headers: {"Content-Type": "application/json"},
            method: 'POST',
            body: JSON.stringify(client),
          })
          .then(res => res.json())
          .then(data => {
            if(data.err) throw Error(data.err);
            var attention = data.body;
            this.attention = attention;
          })
          .catch(err => alert(err.message))
        },
        prioritize: function(index) {
          fetch('!{baseUrl("prioritize/")}' + index)
          .then(res => res.json())
          .then(data => {
            if(data.err) throw Error(data.err);
            var attention = data.body;
            this.attention = attention;
          })
        }
      }
    });
